p {
    text-align: center;
}

#one {
    height: 75px;
    width: 100%;
}

#two {
    height: 150px;
    width: 100%;
}

#three {
    height: 125px;
    width: 100%;
}

#four {
    height: 125px;
    width: 100%;
}

#five {
    height: 250px;
    width: 50%;
}

#six {
    height: 250px;
    width: 50%;
}

#seven {
    height: 250px;
    width: 50%;
}

#eight {
    height: 250px;
    width: 50%;
}

#nine {
    height: 80px;
    width: 100%;
}
