.main > p {

}

.subheads > p {

}

#one {
    height: 75px;
    width: 480px;
}

#two {
    height: 150px;
    width: 480px;
}

#three {
    height: 125px;
    width: 480px;
}

#four {
    height: 125px;
    width: 480px;
}

#five {
    height: 250px;
    width: 240px;
}

#six {
    height: 250px;
    width: 240px;
}

#seven {
    height: 250px;
    width: 240px;
}

#eight {
    height: 250px;
    width: 240px;
}

#nine {
    height: 80px;
    width: 480px;
}
