/* MOBILE theme */

#one {
    background-color: plum;
}

#two {
    background-color: hotpink;
}

#three {
    background-color: pink;
}

#four {
    background-color: salmon;
}

#five {
    background-color: lightpink;
}

#six {
    background-color: lightsalmon;
}

#seven {
    background-color: darksalmon;
}

#eight {
    background-color: darkorange;
}

#nine {
    background-color: coral;
}

/* TABLET theme */

#one {
    background-color: burlywood;
}

#two {
    background-color: goldenrod;
}

#three {
    background-color: ivory;
}

#four {
    background-color: antiquewhite;
}

#five {
    background-color: khaki;
}

#six {
    background-color: beige;
}

#seven {
    background-color: darkorange;
}

#eight {
    background-color: gold;
}

#nine {
    background-color: darkgoldenrod;
}

/* DESKTOP theme */

#one {
    background-color: skyblue;
}

#two {
    background-color: aqua;
}

#three {
    background-color: lightcyan;
}

#four {
    background-color: lightskyblue;
}

#five {
    background-color: aquamarine;
}

#six {
    background-color: mediumturquoise;
}

#seven {
    background-color: powderblue;
}

#eight {
    background-color: turquoise;
}

#nine {
    background-color: cornflowerblue;
}
